.contact{
    background: url(../image/Wouldyouliketochat.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.contactContent{
    width: 47%;
    margin-top: 5rem;
    margin-bottom: 4rem;
    text-align: center;
}
.contactContent h1{
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}
.contactContent p{
    font-size: 15px;
    color: white;
}
.contactContent button{
    padding: 18px 20px;
    border: none;
    background-color: #F305F8;
    border-radius: 10px;
    margin-top: 3rem;
}
.contactContent button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
@media screen and (max-width:950px) {
    .contact{
        width: 100%;
    }
    .contactContent{
        width: 100%;
        padding: 20px;
        margin-top: 5rem;
        margin-bottom: 4rem;
        text-align: center;
    }
    .contactContent p{
        font-size: 15px;
        color: white;
        line-height: 25px;
    }
}